

.starsContainer {
    margin-left: 5px;
    width: fit-content;
    gap: 3px;
}

.ratingVal {
    font-family: var(--default-font   );
    margin: 0;
}

.resetScoreBtn {
    margin-left: 10px;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
}

.resetScoreIcon {
    cursor: pointer;
    color: #bdbdbd;
}

.hidden {
    visibility: hidden !important;
    cursor: default !important;
}